*{
    padding: 0%;
    margin: 0%;
}
.conten{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;

}
.main{
    display: flex ;
    flex-direction: row;
    height:90vh;
    width:90vw;
    
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}
.side{
    height: 90vh;
    width:25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color:whitesmoke;
    border-right: 1vh solid rgb(28, 27, 61);
    border-radius:3vh;
    align-items: center;


    

}
.abt{
    height:90vh;
    width:60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    
}
.side>img{
    border-radius:50vw;
    height:18vw;
    width:18vw;
    box-shadow:10px 10px 60px whitesmoke;
}
.side>h4{
    font-size: 5vh;
    color: rgb(109, 17, 17);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight:700;
}
.side>p{
    font-size: 3vh;
    line-height: 5vh;
    
}
.skills{
    height: 20vh;
    width:58vw;
    background-color: rgb(0, 5, 8);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    opacity:70%;
    border-radius:2vh ;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(29, 57, 119);
}
.abt>h4{
    font-size:3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(249, 249, 253);
}
.skills>button{
    width: 8vw;
    height: 5vh;
    background-color: rgb(53, 211, 211);
    border-style: none;
    border-radius: 1vh;
    box-shadow: 5px 5px 10px rgb(30, 12, 131);
    
}
.skills>button>h3{
    font-size: 2.5vh;
    color: rgb(15, 7, 3)
    
}
.Contact{
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.Contact>a{
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-size: 3vh;

    color: rgb(12, 12, 12);
    
}